In [14]:
def bfs(graph, start):
  visited = []
  queue = [start]

  while queue:
    node = queue.pop(0)
    if node not in visited:
      visited.append(node)
      neighbours = graph[node]
      for neighbour in neighbours:
        queue.append(neighbour)
  return visited

In [32]:
graph = {'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike' : {'Amin'},
         'Nick' : {'Amin'}}

In [36]:
bfs(graph,'Amin')

['Amin', 'Mike', 'Wasim', 'Nick', 'Imran', 'Faras']

In [26]:
# O amin ------------------------
# |               |             |
# O wasim         O nick        O mike
# |
# O imran
# |
# O faras
#
# turun dari amin ke faras, geser ke nick & mike

bfs(graph, 'Amin')

['Amin', 'Mike', 'Wasim', 'Nick', 'Imran', 'Faras']

In [27]:
# O wasim ----
# |          |
# O imran    O amin ----
# |          |         |
# O faras    O nick    O mike

bfs(graph, 'Wasim')

['Wasim', 'Amin', 'Imran', 'Mike', 'Nick', 'Faras']

In [37]:
# O faras
# |
# O imran
# |
# O wasim   O nick   O mike
# |         |        |
# O amin -------------

bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Mike', 'Nick']

In [18]:
def bfs(graphRektor, start):
  visited = []
  queue = [start]

  while queue:
    node = queue.pop(0)
    if node not in visited:
      visited.append(node)
      neighbours = graphRektor[node]
      for neighbour in neighbours:
        queue.append(neighbour)
  return visited

In [29]:
graphRektor = {'Rektor' : {'Warek 1', 'Warek 2'},
         'Warek 1' : {'Rektor'},
         'Warek 2' : {'Kaprodi 1', 'Kaprodi 2', 'Kaprodi 3', 'Rektor'},
         'Kaprodi 1' : {'Dosen A', 'Dosen B', 'Dosen C','Warek 2'},
         'Kaprodi 2' : {'Dosen D', 'Dosen E','Warek 2'},
         'Kaprodi 3' : {'Dosen F', 'Dosen G','Warek 2'},
         'Dosen A' : {'Kaprodi 1'},
         'Dosen B' : {'Kaprodi 1'},
         'Dosen C' : {'Kaprodi 1'},
         'Dosen D' : {'Kaprodi 2'},
         'Dosen E' : {'Kaprodi 2'},
         'Dosen F' : {'Kaprodi 3'},
         'Dosen G' : {'Kaprodi 3'}}

In [30]:
bfs(graphRektor, 'Rektor')

['Rektor',
 'Warek 1',
 'Warek 2',
 'Kaprodi 1',
 'Kaprodi 3',
 'Kaprodi 2',
 'Dosen B',
 'Dosen C',
 'Dosen A',
 'Dosen F',
 'Dosen G',
 'Dosen E',
 'Dosen D']

In [31]:
bfs(graphRektor, 'Kaprodi 2')

['Kaprodi 2',
 'Dosen E',
 'Dosen D',
 'Warek 2',
 'Rektor',
 'Kaprodi 1',
 'Kaprodi 3',
 'Warek 1',
 'Dosen B',
 'Dosen C',
 'Dosen A',
 'Dosen F',
 'Dosen G']

In [34]:
def dfs(graph, start, visited=None):
  if visited is None:
    visited = set()
  visited.add(start)
  print(start)
  for next in graph[start] - visited:
    dfs(graph, next, visited)
  return visited

In [35]:
graph = {'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike' : {'Amin'},
         'Nick' : {'Amin'}}

In [36]:
# O amin ------------------------
# |               |             |
# O wasim         O nick        O mike
# |
# O imran
# |
# O faras

dfs(graph, 'Amin')

Amin
Mike
Wasim
Imran
Faras
Nick

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [38]:
# O wasim ----
# |          |
# O imran    O amin ----
# |          |         |
# O faras    O nick    O mike

dfs(graph, 'Wasim')

Wasim
Amin
Mike
Nick
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [41]:
# O faras
# |
# O imran
# |
# O wasim   O nick   O mike
# |         |        |
# O amin -------------

dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Mike
Nick

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [40]:
# O amin ------------------
# |           |           |
# O wasim     O nick      O mike
# | 
# O imran
# |
# O faras

dfs(graph,'Nick')

Nick
Amin
Mike
Wasim
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [47]:
graph = {'Rektor' : {'Warek 1', 'Warek 2'},
         'Warek 1' : {'Rektor'},
         'Warek 2' : {'Kaprodi 1', 'Kaprodi 2', 'Kaprodi 3', 'Rektor'},
         'Kaprodi 1' : {'Dosen A', 'Dosen B', 'Dosen C','Warek 2'},
         'Kaprodi 2' : {'Dosen D', 'Dosen E','Warek 2'},
         'Kaprodi 3' : {'Dosen F', 'Dosen G','Warek 2'},
         'Dosen A' : {'Kaprodi 1'},
         'Dosen B' : {'Kaprodi 1'},
         'Dosen C' : {'Kaprodi 1'},
         'Dosen D' : {'Kaprodi 2'},
         'Dosen E' : {'Kaprodi 2'},
         'Dosen F' : {'Kaprodi 3'},
         'Dosen G' : {'Kaprodi 3'}}

In [48]:
dfs(graph, 'Rektor')

Rektor
Warek 1
Warek 2
Kaprodi 1
Dosen B
Dosen C
Dosen A
Kaprodi 3
Dosen F
Dosen G
Kaprodi 2
Dosen E
Dosen D

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Rektor',
 'Warek 1',
 'Warek 2'}